# Patterns: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Documentation
docs/

# PHPUnit
phpunit

# Do not upload this file, it has sensitive infos.. 
sys/config.php 

# Files with .exclude extension any directory 
*.exclude